<div class="text-sm text-muted flex gap-3">
  <a
    class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
    href="/portfolio"
  >
    Portfolio
  </a>
  <span>·</span>
  <a
    class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
    href="/contact"
  >
    Contact
  </a>
  <span>·</span>
  <a
    class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
    href="/terms"
  >
    Terms and Conditions
  </a>
</div>
