
---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>OTP Page</h1>
  <p>Enter your One-Time Password below:</p>
  <input type="text" placeholder="Enter OTP" />
  <button>Submit</button>
</Layout>
