---
import Layout from '~/layouts/PageLayout.astro';
import UploadComponent from '~/components/UploadComponent.jsx';

const metadata = {
  title: 'Upload Image | RetinoPortal',
  ignoreTitleTemplate: false,
};
---

<Layout metadata={metadata}>
  <section class="min-h-screen flex items-center justify-center bg-gradient-to-br from-gray-50 to-gray-200 dark:from-gray-900 dark:to-gray-800">
    <UploadComponent />
  </section>
</Layout>
